<nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-600" aria-label="Breadcrumb">
  <ol class="inline-flex items-center">
    <% url_data.each do |data| %>
      <li class="inline-flex items-center">
        <%= link_to data[:page_link], class: 'inline-flex items-center font-medium text-gray-700 hover:text-blue-600 dark:text-gray-200 dark:hover:text-white' do %>
          <%= data[:page_name] %>
        <% end %>
        <svg class="rtl:rotate-180 block w-3 h-3 mx-2 text-gray-400 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
      </li>
    <% end %>
    <li aria-current="page">
      <div class="flex items-center">
        <span class="font-medium text-gray-500 dark:text-gray-300"><%= current_page %></span>
      </div>
    </li>
  </ol>
</nav>
