<!-- Breadcrumb -->
<%= render partial: '/layouts/components/breadcrumb', locals: { url_data: [{ page_link: root_path, page_name: 'Home' }, { page_link: categories_path, page_name: 'Categories' }], current_page: 'Show' } %>

<div class='my-4'></div>

<%= render @category %>
